body, html {
    height: 100%;
}
.row {
    margin-top: 2%;
}
.parallax {
    background-image: url("../images/pink3.jpg");

    height: 100%; 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#pageTitle {
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
    opacity: 0.9;
    font-size: 80px;
    text-shadow: 5px 5px black;
}

.container {
    background-color: transparent;
    position: absolute;
    top: 120px;
    width: 100%;
}

/* #header{
    position: absolute;
    left: 40%;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
    opacity: 0.9;
    font-size: 80px;
    text-shadow: 5px 5px black;
  } */

  #headerText {
    margin-left: 35%;
    margin-top: 0%;
    z-index: 1000;
    font-family: 'Raleway', sans-serif;
    color: palevioletred;
    opacity: 0.9;
    font-size: 80px;
    text-shadow: 5px 5px black;
  }

    /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}



  #open {
    position: fixed;
    top: 1%;
    left: 1%;
    color: palevioletred;
    opacity: 0.6;
}


#work1 {
    /* height: 200px; */
    height: 120%;
    background-color: rgba(245, 245, 245, 0.6);
}

#workButtons {
    background-color: palevioletred;
    margin-left: 2%;
    margin-top: 5%;
    opacity: 0.9;
    margin-bottom: 2%;
}

a {
    color: white;
}

h5, p{
    font-family: 'Raleway', sans-serif;
    font-size: 150%;
}

img {
    width: 100%;
    margin-top: 4%;
    margin-bottom: 2%;
}

#mySidenav {
    background-color: palevioletred;
    opacity: 0.9 !important;
}

#name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 5%;
    font-size: 135%;
    color: seashell;
}

.fa-linkedin {
    color: gold;
}

.fa-envelope {
    color: crimson;
}

.fa-stack-overflow {
    color: darkorchid;
}

.fa-github {
    color: darkorange;
}

#overlay {
    position: absolute;
    bottom: 0;
    left: 500;
    z-index: 10;
}


#nav1 {
    color: seashell;
}

#nav2, #nav3, #nav4, #nav5 {
    margin-left: 10%;
}

#nav2 {
    color: gold;
}

#nav3 {
    color: crimson;
}

#nav4 {
    color: darkorchid;
}

#nav5 {
    color: darkorange;
}

a {
    float: left;
}



@media screen and (max-width: 768px) {
    #header {
        margin-left: -20%;
    }

    #work1Text {
        float: left;
    }
    img {
        width: 40% !important;
    }

}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {font-size: 18px;}

}
  
  @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel-fade .carousel-inner > .item.next,
      .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.prev,
      .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
      .carousel-fade .carousel-inner > .item.next.left,
      .carousel-fade .carousel-inner > .item.prev.right,
      .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
      }
  }